<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title><%= title %></title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/sp_top.css">
  </head>
  <body>
      <header>
          <h1>Holo</h1>
      </header>
      <% for(var i = 1; i < number; i++){ %>
          <section class="page">
              <a href="/device<%= i %>" class="button" id="device0<%= i %>">device<%= i %></a>
          </section>
      <% } %>
  </body>
</html>
