<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title><%= title %></title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/sp_top.css">
  </head>
  <body>
      <header>
          <h1>Holo</h1>
      </header>
      <section class="page">
          <a href="/page1" class="button" id="page01">Page1</a>
      </section>
      <section class="page">
          <a href="/page2" class="button" id="page02">Page2</a>
      </section>
      <section class="page">
          <a href="/page3" class="button" id="page03">Page3</a>
      </section>
      <div class="bottom">
          <img src="./images/arrow.png" width="38" height="44" alt="">
      </div>
  </body>
</html>
