<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/movie.css">
</head>
<body>
	<div class="canimation">
	   <img src=""/>
	</div>
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script src="/javascripts/jquery.canimate.js"></script>
	<script>
	var socket = io();
	var pageTit = $("title").text();
	var num,message,prefix,number;

	$(document).ready( function(){
		socket.emit('load','loaded');
 	});
	socket.on('message_from_server', function(msg){
		num = msg[0];
		if(num == pageTit){
			window.location.reload();
		}
	});
	socket.on('last_massage', function(msg){
		num = msg[0];
		message = msg[1];
		prefix = message.split('0');
		number = msg[2];
		if(num == pageTit){
			$('img').attr('src', message);
			$('.canimation').canimate({
	 	      totalFrames: number,
	 	      imagePrefix: prefix[0],
	 	      fps: 30,
			  loop: true
		  	});
		}
	});
	</script>
</body>
</html>
