body {
    background: #000;
    margin: 0;
    padding: 0;
}
#videoBox {
    margin: 0 auto;
    position: relative;
}

canvas {
    position: absolute;
}

#canvas_top {
    
}
#canvas_left {
    transform: rotate(90deg);
}
#canvas_right {
    transform: rotate(270deg);
}
#canvas_bottom {
    transform: rotate(180deg);
}
#myVideo {
    display: none;
}
img {
    display: none;
}
